body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
}

.btn {
    padding: 4px 8px;
    display: inline-block;
    transition: smooth all 0.1s;
    border-radius: 4px;
    color: #333333;
}

.btn:hover {
    background-color: #4f4f4f;
    color: white;
}

.header {
    position: absolute;
    top: 24px;
    background-color: rgba(200,200,200,0.5);
    border-radius: 4px;
}

#hero {
    left: 24px;
    padding: 16px;
}

#hero h1 {
    margin: 0;
}

#hero div {
    font-size: 16px;
}

.hidden {
    display: none;
}

#instructions {
    right: 24px;
    padding: 0 8px;
}